<%= error_messages_for 'amenity' %>

<!--[form:amenity]-->
<p><label for="amenity_name">Name</label><br/>
<%= text_field 'amenity', 'name'  %></p>

<p><label for="amenity_description">Description</label><br/>
<%= text_area 'amenity', 'description', "rows" => 5  %></p>

<!--[eoform:amenity]-->

