<%= link_to 'Edit', :action => 'edit', :id => @amenity %> |
<%= link_to 'Back', :action => 'list' %>
<% for column in Amenity.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @amenity.send(column.name) %>
</p>
<% end %>
