<%= link_to 'Show', :action => 'show', :id => @price_range %> |
<%= link_to 'Back', :action => 'list' %>
<h1>Edit Price Range</h1>
<% form_tag :action => 'update', :id => @price_range do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<% end %>

